#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: sticky;
	top: 0;
}

#menu li {
	float: left;
}

#menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#menu li a:hover {
	background-color: #111;
}

#menu .active {
	background-color: #00CC33;
}


#list *{
	box-sizing: border-box;
	border-style: none; 
	/* border-style: solid; */
	border-width: 5px;
	padding: 2px;
	margin: 2px;
}

#list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#list .listitem {
	margin: 20px;
	border-color:black;
	border-style: solid;
	width: 800px;
}

#list .listitem_topbar {
	border-color:blue;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

#list .listitem_content {
	border-color:red;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

#list .listitem_topbar_type { 
	border-color:LIGHTSALMON;
	background-color: gold;
}

#list .listitem_topbar_created { 
	border-color:TOMATO;
	background-color: gray;
}

#list .listitem_topbar_updated { 
	border-color:DARKORANGE;
	background-color: gray;
}

#list .listitem_content_text { 
	/*border-color:LIMEGREEN;*/
}

#list .listitem_content_image { 
	/*border-color:FORESTGREEN;*/
}

#list .listitem:hover { 
	background-color: white;
	cursor: pointer;
}


body {
  margin: 0;
  background-color: rgb(150,150,150);
}

#menu {

  width: 100%;
  position: fixed;        
  background-color: rgb(150,150,150);
  padding: 0px 0;
  color: #fff;
  top: 0;
}

#content {
  box-sizing: border-box;
  margin-top: 150px;
  width: 100%;
  color: black; 
}
