ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #00CC33;
}






body {
  margin: 0;
  background-color: rgb(150,150,150);
}

#menu {

  width: 100%;
  position: fixed;        
  /*background: red;*/
  /*background: white;*/
    background-color: rgb(150,150,150);
  padding: 0px 0;
  color: #fff;
  top: 0;
}

#content {
  margin-top: 150px;
  width: 100%;
  /*background: blue;*/
  /*  background-color: rgb(150,150,150);*/
  color: black; 
}
